/* -------------------------------------------------------
   .button and base button
   ------------------------------------------------------- */
.cta .button-container .button {
    background: none;
    border: none;
    outline: none;
    margin-bottom: var(--spacing-16);
    white-space: break-spaces;
    text-align: left;
}

@media (width >= 744px) {
    .button {
        margin-bottom: var(--spacing-24);
    }
}

.cta .button-container .button:focus {
    outline: var(--spacing-01) solid var(--bg-071d49);
}

/* -------------------------------------------------------
   Default CTA
   ------------------------------------------------------- */

   .default-cta .button-container a.button,
.light-theme.default-cta .button-container a.button {
    align-items: center;
    color: var(--color-accent-blue);
    cursor: pointer;
    display: flex;
    font-family: var(--roboto-bold-font-family);
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-700);
    line-height: var(--line-height-20);
    padding: var(--spacing-12) var(--spacing-32);
    margin: var(--spacing-00);
    border: var(--spacing-01) solid var(--color-accent-blue);
    border-radius: var(--border-radius-00);
    background-color: unset;
    text-decoration: none;
    width: fit-content;
    text-transform: var(--font-uppercase);
    }

    @media (width >= 744px) {
        .default-cta a.button {
            font-size: var(--font-size-14);
        }
    }

    .default-cta .button-container a.button:hover,
    .light-theme.default-cta .button-container a.button:hover {
        color: var(--background-color);
        background-color: var(--color-accent-blue);
    }

    .dark-theme.default-cta .button-container a.button {
        color: var(--background-color);
        border: var(--spacing-01) solid var(--background-color);
        background-color: unset;
    }

    .dark-theme.default-cta .button-container a.button:hover {
        background-color: var(--background-color);
        color: var(--text-color);
    }

   /* -------------------------------------------------------
   External CTA (light)
   ------------------------------------------------------- */

.external-cta .button-container a.button,
.light-theme.external-cta .button-container a.button {
    align-items: center;
    color: var(--color-accent-blue);
    cursor: pointer;
    display: flex;
    font-family: var(--roboto-bold-font-family);
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-800);
    line-height: var(--spacing-20);
    padding: var(--spacing-00);
    margin: var(--spacing-00);
    border: none;
    border-radius: var(--border-radius-00);
    background-color: unset;
    text-decoration: none;
    width: fit-content;
}

@media (width >= 744px) {
    .external-cta .button-container a.button {
        font-size: var(--font-size-14);
    }
}

.external-cta a.button:hover,
.light-theme.external-cta .button-container a.button:hover {
    color: var(--text-color);
    background-color: unset;
}

.dark-theme.external-cta .button-container a.button {
    color: var(--color-accent-blue-light);
}

.dark-theme.external-cta .button-container a.button:hover {
    color: var(--bg-a6b5e0);
    background-color: unset;
}

.external-cta .button-container a.button::after {
    color: inherit;
    content: '\e900';
    font-family: var(--icon-font-family);
    font-size: var(--font-size-12);
    margin-left: var(--spacing-12);
    margin-right: var(--spacing-03);
    transform: scale(.8);
    transition: color .1s ease;
}

/* -------------------------------------------------------
   Internal CTA (light)
   ------------------------------------------------------- */
.internal-cta .button-container a.button,
.light-theme.internal-cta .button-container a.button {
    align-items: center;
    color: var(--story-card-link-color);
    cursor: pointer;
    display: flex;
    font-family: var(--roboto-bold-font-family);
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-700);
    letter-spacing: var(--letter-spacing-wide-06);
    line-height: var(--line-height-20);
    padding: var(--spacing-00);
    margin: var(--spacing-00);
    text-decoration: none;
    text-transform: var(--font-uppercase);
    border: none;
    border-radius: var(--border-radius-00);
    background-color: unset;
    width: fit-content;
}

.dark-theme.internal-cta .button-container a.button {
    color: var(--color-accent-blue-light);
}

.internal-cta .button-container a.button:hover,
.light-theme.internal-cta .button-container a.button:hover {
    color: var(--bg-071d49);
    background-color: unset;
}

.dark-theme.internal-cta .button-container a.button:hover {
    color: var(--bg-a6b5e0);
}

@media (width >= 744px) {
    .internal-cta .button-container a.button,
    .light-theme.internal-cta .button-container a.button {
        font-size: var(--font-size-14);
    }
}

.internal-cta .button-container a.button::after {
    color: inherit;
    content: '\e901';
    display: flex;
    font-family: var(--icon-font-family);
    font-size: var(--font-size-12);
    margin-left: var(--spacing-12);
    margin-right: var(--spacing-03);
    transition: color .1s ease;
    vertical-align: middle;
}

[dir="rtl"] .internal-cta .button-container a.button::after {
    transform: rotate(180deg);
}

/* -------------------------------------------------------
   Back CTA (light)
   ------------------------------------------------------- */
.back-cta .button-container a.button,
.light-theme.back-cta .button-container a.button {
    align-items: center;
    background: none;
    border: none;
    border-radius: var(--border-radius-00);
    color: var(--story-card-link-color);
    cursor: pointer;
    display: flex;
    font-family: var(--roboto-bold-font-family);
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-700);
    letter-spacing: var(--letter-spacing-wide-06);
    line-height: var(--line-height-20);
    outline: none;
    padding: var(--spacing-00);
    text-decoration: none;
    text-transform: var(--font-uppercase);
    width: fit-content;
}

.dark-theme.back-cta .button-container a.button {
    color: var(--color-accent-blue-light);
}

.back-cta .button-container a.button:hover,
.light-theme.back-cta .button-container a.button:hover {
    color: var(--text-color);
    background-color: unset;
}

.dark-theme.back-cta .button-container a.button:hover {
    color: var(--bg-a6b5e0);
}

@media (width < 744px) {
    .back-cta .button-container a.button,
    .light-theme.back-cta .button-container a.button {
        font-size: var(--font-size-14);
    }
}

.back-cta .button-container a.button::before {
    color: inherit;
    content: '\e903';
    display: flex;
    font-family: var(--icon-font-family);
    font-size: var(--font-size-12);
    margin-left: var(--spacing-03);
    margin-right: var(--spacing-12);
    transform: scale(.8);
    transition: color .1s ease;
}

[dir="rtl"] .back-cta .button-container a.button::before {
    transform: rotate(180deg);
}
