/* stylelint-disable max-line-length */

/* F37 Lineca - Heading fonts */
@font-face {
  font-family: 'F37 Lineca Book';
  font-style: normal;
  font-weight: 650;
  font-display: swap;
  src: url('../fonts/F37Lineca-Book.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'F37 Lineca Medium';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('../fonts/F37Lineca-Medium.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* Roboto - Body fonts */
@font-face {
  font-family: 'Roboto Regular';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/roboto-regular.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Roboto Bold';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/roboto-bold.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Roboto Medium';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../fonts/roboto-medium.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Roboto Small';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('../fonts/Roboto-Light.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Roboto Light';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('../fonts/Roboto-Light.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* Abbvie Icon font */
@font-face {
  font-family: 'Abbvie Icon';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/abbvie-icon.ttf') format('truetype');
}

/* Fallback fonts */
@font-face {
  font-family: roboto-fallback;
  size-adjust: 100.06%;
  ascent-override: 95%;
  src: local('Arial');
}


[class^='icon-abbvie'],
[class*=' icon-abbvie'] {
    font-family: 'Abbvie Icon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-abbvie-external-link::before  { content: '\e900'; }
.icon-abbvie-chevron-right::before  { content: '\e901'; }
.icon-abbvie-arrow-left::before     { content: '\e902'; }
.icon-abbvie-chevron-left::before   { content: '\e903'; }
.icon-abbvie-clock::before          { content: '\e904'; }
.icon-abbvie-arrow-right::before    { content: '\e905'; }
.icon-abbvie-plus::before           { content: '\e906'; }
.icon-abbvie-minus::before          { content: '\e907'; }
.icon-abbvie-cross::before          { content: '\e908'; }
.icon-abbvie-quote::before          { content: '\e909'; }
.icon-abbvie-arrow-top::before      { content: '\e90a'; }
.icon-abbvie-play::before           { content: '\e90b'; }
.icon-abbvie-chevron-down::before   { content: '\e90c'; }
.icon-abbvie-pause::before          { content: '\e90d'; }
.icon-abbvie-sound::before          { content: '\e90e'; }
.icon-abbvie-link::before           { content: '\e90f'; }