/* ----------Reset and base styles---------- */
p,
dl,
ol,
ul,
pre,
blockquote {
  margin: 0;
  padding: 0;
}

ol li,
ul li {
  margin: 0;
  padding: 0;
}

code,
pre,
sup,
sub {
  font-size: 0.6em;
  line-height: 0;
}

input,
textarea,
select,
button {
  font: inherit;
}