.section.cards-leader-container {
  max-width: var(--content-max-width-wide);
  margin: auto;
}

.cards-leader>ul {
  list-style: none;
  max-width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  margin: 0 var(--spacing-20);
  gap: var(--spacing-20);
}

.cards-leader>ul>li {
  overflow: hidden;
  margin-bottom: var(--spacing-00);
}

.cards-leader>ul>li:last-child {
  margin-bottom: var(--spacing-190);
}

.cards-leader>ul>li>.cards-leader-card-link {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-20);
}

.cards-leader .cards-leader-card-image {
  line-height: 0;
}

.cards-leader>ul>li img {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  transition: all 0.3s ease-out;
}

.cards-leader>ul>li>.cards-leader-card-link:hover img {
  transform: scale(1.05);
}

.cards-leader .cards-leader-card-body {
  color: var(--text-color);
  margin: var(--spacing-16) 0 0;
}

.cards-leader .cards-leader-card-body h4 {
  margin-top: 0;
  margin-bottom: var(--spacing-08);
  font-size: var(--spacing-18);
  font-weight: var(--font-weight-400);
  line-height: var(--line-height-24);
  font-family: var(--body-font-family);
}

.cards-leader .cards-leader-card-body p {
  margin: 0;
  font-size: var(--font-size-16);
  line-height: var(--line-height-20);
}

.cards-leader .cards-leader-card-body p strong {
  font-size: var(--font-size-28);
  font-weight: var(--font-weight-650);
  line-height: var(--line-height-32);
  display: block;
  margin-bottom: var(--spacing-08);
}

.cards-leader .cards-leader-card-body p:nth-of-type(2) {
  font-size: var(--font-size-14);
  color: var(--text-color);
  line-height: var(--line-height-20);
}

.cards-leader p.button-container {
  margin-top: var(--spacing-16);
  padding: 0;
}

.cards-leader .button,
.cards-leader a.button {
  background-color: transparent;
  border: none;
  color: var(--color-accent-blue);
  font-size: var(--font-size-16);
  font-family: var(--roboto-bold-font-family);
  font-weight: var(--font-weight-700);
  text-transform: uppercase;
  white-space: nowrap;
  letter-spacing: var(--spacing-01);
  line-height: var(--line-height-20);
  text-decoration: none;
}

.cards-leader .button::after,
.cards-leader a.button::after {
  content: "\e901";
  font-family: var(--icon-font-family);
  font-size: var(--font-size-12);
  color: inherit;
  margin-left: var(--spacing-12);
  margin-right: var(--spacing-30);
  transition: color 0.1s ease;
}

.cards-leader>ul>li>.cards-leader-card-link:hover .button,
.cards-leader a.button:hover {
  color: var(--text-color);
}


@media (width >=744px) {
  .cards-leader>ul {
    grid-template-columns: repeat(2, 1fr);
    margin: 0 var(--spacing-70);
  }

  .cards-leader .cards-leader-card-body p {
    font-size: var(--font-size-12);
    line-height: var(--line-height-16);
  }

  .cards-leader .button,
  .cards-leader a.button {
    font-size: var(--font-size-14);
    line-height: var(--line-height-20);
  }
}

@media (width >=1024px) {
  .cards-leader>ul {
    grid-template-columns: repeat(3, 1fr);
    margin: 0 var(--spacing-55);
  } 

  .cards-leader>ul>li {
    margin-bottom: var(--spacing-72);
  }

  .cards-leader .cards-leader-card-body h4 {
    font-size: var(--spacing-20);
    line-height: var(--line-height-24);
  }

  .cards-leader .cards-leader-card-body p {
    font-size: var(--font-size-14);
    line-height: var(--line-height-20);
  }

  .cards-leader .button,
  .cards-leader a.button {
    font-size: var(--font-size-14);
    line-height: var(--line-height-20);
  }
}